<% include partials/header %>

    <div class="ui centered grid">
        <h1>Bienvenidos a DS Estudio</h1>
        <div class="four wide column"> <!-- CATEGORY -->
            <h1 style="text-align: center;">Categorias</h1>
            <ul class="ui divided items">
                <% categories.forEach(category => { %>
                    <li class="item"><a href="/category/<%= category.name %>"><%= category.fullname %></a></li>
                <% }) %>
            </ul>
        </div>
        <div class="eight wide column">
            <h1 style="text-align: center;">Posts</h1>
            <div class="ui main text container segment">
                <div class="ui divided items">
                    <% posts.forEach(post => { %>
                        <div class="item" href="/post/<%= post._id %>">
                            <div class="ui tiny image">
                                <a href="/profile/<%= post.author.id %>">
                                    <img src="https://i.pinimg.com/736x/04/6e/91/046e91f77483a277a434bac9ae4885e2--ui-framework-user-experience-design.jpg">
                                </a>
                            </div>
                            <div class="content">
                                <a class="header" href="/post/<%= post._id %>"><%= post.title %></a>
                                <div class="meta">
                                    <a href="/profile/<%= post.author.id %>"><%= post.author.name %></a> - <a href="/category/<%= post.category %>"><%= post.categoryFull %></a>
                                </div>
                                <div class="description">
                                    <p><%= post.body %></p>
                                </div>
                                <div class="extra">
                                    <%= post.date %>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="four wide column">
                <h1 style="text-align: center;">Noticias</h1> <!-- HORARIO - NEWS -->
        </div>
    </div>

<% include partials/footer %>